# Java
*.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/

# Build tools
/build/
/nbbuild/
/nbdist/
.gradle/
out/
bin/
dist/
logs/
build.log

# Dependencies
/.classpath
/.project
/.settings/
/.factorypath
/.loadpath
/.recommenders
/.metadata/
/.cache-main
/.scala_dependencies
/.worksheet

# External tool builders
.externalToolBuilders/
.autotools/
.cproject
.apt_generated/
.apt_generated_test/
.buildpath
.cmake-build*/

# Spring Tool Suite
.sts4-cache/

# Eclipse 
.metadata/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.recommenders/
.launch
.pydevproject
.springBeans/
.scala_dependencies
.worksheet
.tern-project
.texlipse
.cache-main

# NetBeans
/nbproject/private/
/.nb-gradle/

# Miscellaneous files
HELP.md
